body {
  overflow: hidden;
  background-image: url(../img/bg.png);
  color: white;
  min-width: 300px;
  font-family: 'Signika', sans-serif;
}

p {
  margin: 0;
}

label {
  margin: 0;
}
a {
  color: #fff;
}

.buff-nav {
  background-color: tomato;
  height: 95px;
  width: 100%;
}

.mc {
  height: calc(100vh - 325px);
  min-height: 360px;
}

.mcb-row {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 95px);
}

.chart-img {
  position: absolute;
  height: 100%;
  min-height: 290px;
  left: 0;
}

.cont-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cont-banner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  transition: ease-in-out 0.3s;
}

.line-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.2rem;
}

.line {
  background-color: white;
  height: 3px;
  width: 50%;
}

.cont-banner-text-1 {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .cont-banner-text-1 {
    font-size: calc(10px + 77 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .cont-banner-text-1 {
    font-size: 87px;
  }
}

.cont-banner-text-2 {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .cont-banner-text-2 {
    font-size: calc(10px + 77 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .cont-banner-text-2 {
    font-size: 87px;
  }
}

.cont-banner-text-3 {
  font-size: 5px;
}

@media screen and (min-width: 320px) {
  .cont-banner-text-3 {
    font-size: calc(5px + 30 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .cont-banner-text-3 {
    font-size: 35px;
  }
}

.cont-banner-text-4 {
  font-size: 5px;
}

@media screen and (min-width: 320px) {
  .cont-banner-text-4 {
    font-size: calc(5px + 30 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .cont-banner-text-4 {
    font-size: 35px;
  }
}

.cont-banner-text-5 {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .cont-banner-text-5 {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .cont-banner-text-5 {
    font-size: 20px;
  }
}

.cont-banner-text-5:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cont-banner-btn {
  background-color: #2f9a31;
  padding: 30px 100px 20px 100px;
  font-size: 37px;
  border-radius: 30px;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  border: 3px solid #50d652;
  transition: ease-in-out 0.3s;
}

.cont-banner-btn:hover {
  color: white;
  text-decoration: none;
}

/* modal */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-s__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.452);
  display: none;
  z-index: 5;
}

/* display the modal overlay when the input[type=radio] is checked */
.modal-s__state:checked + .modal-s__overlay {
  opacity: 1;
  animation: fade-in 0.4s;
  display: block;
}

@keyframes scoot-up {
  0% {
    margin-top: 80px;
  }

  100% {
    margin-top: 50px;
  }
}

.modal-s {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  top: 30%;
  padding: 40px 20px;
  background: #11171f;
  text-align: left;
  width: 500px;
  z-index: 5;
  border: 1px solid white;
  border-radius: 20px;
}

.modal-s__state:checked + .modal-s__overlay .modal-s {
  animation: scoot-up 0.2s;
  animation-timing-function: ease-out;
  transform-origin: 50% 0px;
}

.modal-s__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-s__overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* the input[type=radio] that's toggled when the label is clicked */
.modal-s__state {
  display: none;
}

/* button styles */
.button {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 4px 0 #8cbcb8;
  background: #accfcc;
  color: #595241;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #cce2e0;
  box-shadow: 0 4px 0 #accfcc;
}

.button:active {
  margin-top: 4px;
  margin-bottom: -4px;
  box-shadow: 0 0 0 #accfcc;
}

/* close button */
.button--close {
  padding: 0.4em 0.5em 0.2em 0.5em;
  background-color: rgba(240, 69, 49, 1);
  box-shadow: 0 4px 0 rgb(177, 38, 22);
  color: #fff;
}

.button--inline {
  padding: 0.25em 0.5em;
}

.button--close:hover,
.button--close:focus {
  background-color: rgb(250, 41, 18);
  box-shadow: 0 4px 0 #8a0917;
}

.button--close:active {
  box-shadow: 0 0 0 #8a0917;
}

.modal-s-content {
  border: none;
  padding: 1rem;
  background-color: #11171f;
}

.modal-s-content p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
  color: white;
}

.mb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 65px;
  border-top: 2px solid #3a405b;
  background-color: #171a2c;
  height: 230px;
  transition: ease-in-out 0.3s;
}

.mb-grad {
  padding: 3px 0 3px 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mb-grad-ch1 {
  background: linear-gradient(to right, #6fc040, transparent);
}

.mb-grad-ch2 {
  background: linear-gradient(to right, #03a45e, transparent);
}

.mb-grad-ch3 {
  background: linear-gradient(to right, #039b9d, transparent);
}

.mb-inner {
  display: flex;
  background-color: #171a2c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.mb-inner-cont {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  padding-left: 65px;
  height: 150px;
}

.mb-num {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  height: 95px;
  width: auto;
}

.mb-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 280px; */
  padding-left: 40px;
}

.mb-fe {
  font-size: 2.5rem;
  a {
    color: green !important;
  }
}

.mb-se {
  font-size: 1.2rem;
}

.mb-se span {
  font-size: 1.1rem;
  text-transform: uppercase;
  background: -moz-linear-gradient(90deg, rgba(247, 150, 29, 1) 0%, rgba(238, 47, 35, 1) 90%);
  background: -webkit-linear-gradient(90deg, rgba(247, 150, 29, 1) 0%, rgba(238, 47, 35, 1) 90%);
  background: linear-gradient(90deg, rgba(247, 150, 29, 1) 0%, rgba(238, 47, 35, 1) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media */

@media only screen and (max-width: 1400px) {
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 20;
  }

  .mc {
    height: calc(100vh - 265px);
    min-height: 310px;
    transition: ease-in-out 0.3s;
  }

  .cont-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
  }

  .mb {
    height: 170px;
  }

  .mb-inner-cont {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    padding-left: 25px;
    height: 120px;
  }

  .cont-banner-btn {
    background-color: #2f9a31;
    padding: 20px 80px 10px 80px;
  }

  svg {
    height: 75px;
    width: auto;
  }

  .mb-fe {
    font-size: 2rem;
  }

  .mb-se {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
  .overlay {
    display: none;
  }
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mcb-row {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  .chart-col {
    display: none;
  }

  .mc {
    height: auto;
    min-height: 310px;
    padding: 2rem 0;
  }

  .chart-img {
    display: none;
  }

  .cont-banner-text-1 {
    font-size: 40px;
  }

  .cont-banner-text-2 {
    font-size: 40px;
  }

  .cont-banner-text-3 {
    font-size: 20px;
  }

  .cont-banner-text-4 {
    font-size: 20px;
  }

  .cont-banner-text-5 {
    font-size: 15px;
  }

  .line {
    width: 30%;
  }

  .cont-banner-btn {
    padding: 15px 50px 7.5px 50px;
    font-size: 37px;
  }

  .mb {
    height: auto;
    padding: 1rem 0;
  }

  .mb-row {
    display: flex;
    justify-content: center;
  }

  .md-col {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
  }

  .mb-grad {
    width: 570px;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 520px) {
  .modal-s {
    width: calc(100vw - 20px);
  }
}

@media only screen and (max-width: 400px) {
  .md-col {
    padding: 0 1.5rem;
  }

  .mb-grad {
    width: 100%;
  }
}
